<div class="container">
	<div class="row">
		<aside class="col-md-4">
			<h1>Informations sur <%= @user.name %></h1>
			Le <%= Time.now %><br />
			<%= gravatar_for @user %><br />
			<%= @user.email %><br />
			Compte créé le : <%= @user.created_at %><br />
			Compte mis à jour le : <%= @user.updated_at %><br />
			Dernière activité le : <%= @user.last_connection %><br />
			Planetes possédées : <%= @user.last.id %><br />
		</aside>
	</div>
</div>