<aside>
    <h2>Production / Conso.</h2>
    <p>
        Energie :<br />
        + <%= @planet.production('solar') %> par heure<br />
        - <%= @planet.power_conso %> par heure<br />
    </p>
    <p>
        Nourriture :<br />
        + <%= @planet.production('food') %> par heure<br />
        - 0 par heure<br />
    </p>
    <p>
        Métaux :<br />
        + <%= @planet.production('metal') %> par heure<br />
        - 0 par heure<br />
    </p>
    <p>
        Thorium :<br />
        + <%= @planet.production('thorium') %> par heure<br />
        - 0 par heure<br />
    </p>
</aside>