<aside id="resources">
    <ul class="row aside_board">
        <li class="col-md-3">
            <%= image_tag("icons/energy.png", alt: "icone énérgie", :id => "energy_icon", :class => "icons resources_icons") %> Energie: <%= @planet.power_stock %><br />
        </li>
        <li class="col-md-3">
            <%= image_tag("icons/food.png", alt: "icone nourriture", :id => "food_icon", :class => "icons resources_icons") %> Nourriture : <%= @planet.define_current_stock('food') %> / <%= @planet.max_stock('food') %><br />
        </li>
        <li class="col-md-3">
            <%= image_tag("icons/metal.png", alt: "icone métal", :id => "metal_icon", :class => "icons resources_icons") %> Métaux : <%= @planet.define_current_stock('metal') %> / <%= @planet.max_stock('metal') %><br />
        </li>
        <li class="col-md-2">
            <%= image_tag("icons/thorium.png", alt: "icone thorium", :id => "thorium_icon", :class => "icons resources_icons") %> Thorium : <%= @planet.define_current_stock('thorium') %> / <%= @planet.max_stock('thorium') %><br />
        </li>
        <li class="col-md-1" id='horloge'></li>
    </ul>
</aside>

<script type="text/javascript">
    function refresh(){
        var t = 1000; // rafraîchissement en millisecondes
        setTimeout('showDate()',t)
    }

    function showDate() {
        var date = new Date()
        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();
        if( h < 10 ){ h = '0' + h; }
        if( m < 10 ){ m = '0' + m; }
        if( s < 10 ){ s = '0' + s; }
        var time = h + ':' + m + ':' + s
        document.getElementById('horloge').innerHTML = time;
        refresh();
    }
    showDate()
</script>
