<%= raw(render('planets/resources')) %>
<div class="row">
	<div id="aside_resources" class="col-md-2">
		<%= raw(render('planets/production')) %>
	</div>
	<div id="canvas" class="col-md-10">
		<%= render 'planets/canvas' %>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<aside>
			<h3>Niveau</h3>
			<p>
			<h4>Expérience</h4>
			Niveau: 1<br />
			Points de stratégie:<br />
			<div class="progress">
				<div id="bar" class="progress-bar" role="progressbar" aria-valuenow="0"
					aria-valuemin="0" aria-valuemax="100" style="width:0px">
					<span class="sr-only">0% Complete</span>
				</div>
			</div>
			00 / 00 <br />
			</p>
			<p>
			<h4>Exploration</h4>
			Niveau: 1<br />
			Points d'exploration:<br />
			<div class="progress">
				<div id="bar" class="progress-bar" role="progressbar" aria-valuenow="0"
					aria-valuemin="0" aria-valuemax="100" style="width:0px">
					<span class="sr-only">0% Complete</span>
				</div>
			</div>
			00 / 00 <br />
			</p>
		</aside>
		<aside>
			<h3>Mon compte</h3>
			<%=  %><br />
			<%=  %><br />
		</aside>
		<aside>
			<h3>Messagerie</h3>
		</aside>
		<aside class="units_view">
			<h3>Unités</h3>
			<% @planet.units.order(:id).each do |unit| %>
				<%= image_tag("units/".concat(unit.image_name).concat(".png"), alt: unit.name, :id => "img_" + unit.image_name, :class => "unit_image") %>
				<%= unit.number %>
			<% end %>
		</aside>
		<aside class="building_grid_view">
			<%= raw(render('buildings/grid_view')) %>
		</aside>
		<aside>
			<h2>Soutiens</h2>
		</aside>
	</div>
	<aside class="col-md-10">
		<h2>Page</h2>
		<div class="row">
			<div class="col-md-6 units_show">
				<%= raw(render('units/show')) %>
			</div>
			<div class="col-md-6 building_grid_view">
				<%= raw(render('buildings/grid_view')) %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Vaisseaux</h3><br />
			</div>
			<div class="col-md-6">
				<h3>Actions en cours</h3>
				<div id="action_building">
					<%= raw(render('buildings/upgrading')) %>
				</div>
			</div>
		</div>
	</aside>
</div>
