<div class="container">
	<div class="row">
		<span class="col-md-3">
			Energie: <br />
		</span>
		<span class="col-md-3">
			Métaux: <%= Time.now %><br />
		</span>
		<span class="col-md-3">
			Thorium: <%= Time.now %><br />
		</span>
		<span class="col-md-3">
			Nourriture: <%= Time.now %><br />
		</span>
	</div>
	<div class="row">
		<aside class="col-md-3">
			<h2>Production / Conso.</h2><br />
			<br />
			Energie:<br />
			+ <%= @planet.get_conso_tot_power %> par heure<br />
			- 0 par heure<br />
			<br />
			Métaux:<br />
			+ <%= @planet.get_production(@planet,"metal_farm") %> par heure<br />
			- 0 par heure<br />
			<br />
			Thorium:<br />
			+ <%= @planet.get_production(@planet,"thorium_farm") %> par heure<br />
			- 0 par heure<br />
			<br />
			Nourriture:<br />
			+ <%= @planet.get_production(@planet,"food_farm") %> par heure<br />
			- 0 par heure<br />
		</aside>
		<aside class="col-md-9">
			<h2><%= @planet.name %> Planète de <%= @planet.user.name %></h2>
			<div id="planet"><%= link_to image_tag("planet_img.jpg", 
			alt: "Ma planète") %>
			</div>
		</aside>
	</div>
	<div class="row">
		<div class="row">
		<div class="col-md-3">
			<aside>
				<h2>Niveau</h2><br />
				Expérience<br/>
				Niveau: 1<br />
				Points de stratégie:<br />
				<br />
				00 / 00 <br />
				Niveau<br />
				Expérience<br/>
				Niveau: 1<br />
				Points d'exploration:<br />
				<br />
				00 / 00 <br />
			</aside>		
			<aside>
				<h2>Informations sur <%= @planet.name %></h2>
				Le <%= Time.now %><br />
				<%=  %><br />
				<%=  %><br />
			</aside>
			<aside>
				<h2>Informations sur <%= @planet.name %></h2>
				Le <%= Time.now %><br />
				<%= @planet.created_at %><br />
				<%= @planet.user_id %><br />
				<%= @planet.id %><br />
			</aside>
		</div>
			<aside class="col-md-9">
				<h2>Page</h2>
				<div class="row">
					<div class="col-md-6">
						Unités :<br />
						
					</div>
					<div class="col-md-6">
						Batiments :<br />
						<% @planet.buildings.each do |i| %>
							<%= i.name %>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						Vaisseaux :<br />
					</div>
					<div class="col-md-6">
						Actions en cours :<br />
					</div>
				</div>
			</aside>
		</div>
	</div>
</div>