<div class="container">
	<div class="row">
		<aside class="col-md-4">
			<h1>Informations sur <%= @planet.name %></h1>
			Le <%= Time.now %><br />
			<%= @planet.created_at %><br />
			<%= @planet.user_id %><br />
			<%= @planet.id %><br />
		</aside>
	</div>
</div>