<div class="container"><h3>Batiments :</h3></div>
<% @buildings.each do |building| %>
<div id="building_<%= building.id %>">
  <div class="building_name">
    <%= building.name %> niveau <%= building.lvl %><br />
  </div>

  <div id="flash">
    <%= render partial: "shared/flash_messages" %>
  </div>

  <div id="building_description_<%= building.id %>" class="row">
    <div class="col">
      <div id="img_<%= building.image_name %>" class="col">
        <%= link_to image_tag("buildings/".concat(building.image_name).concat(".jpg"), alt: building.name, :class => "building_image") %>
      </div>
      <ul style="list-style-type:square" class="ressources_infos">
        <li>
        Nourriture : <%= building.food_next_level %> -
        Metal : <%= building.metal_next_level %> -
        Thorium : <%= building.thorium_next_level %>
        </li>
        <li>
        Production : <%= building.production_next_level %> -
        Conso. électricité : <%= building.conso_power_next_level %>
        </li>
        <li>
        Temps de construction : <%= building.time_to_build %> secondes
        </li>
      </ul>
      <div id="cancel_<%= building.id %>" style="display: none">
        <div id="cancel_btn_<%= building.id %>" class="col-md-3 cancel_btn" onclick="display_upgrade_btn('<%= building.id %>')">
        <%= button_to "Annuler #{building.name}",
          building_cancel_path(id: building.id),
          method: :post,
          class: :cancel_building_button,
          remote: true
        %>
        </div>
        <span id="building_finish_at_<%= building.id %>">
          Termine le <%= building.finish_at %>
        </span>
        <div id="progress_bar_<%= building.id %>" class="col-md-6">
          <progress id="build_progress_<%= building.id %>" max="100" value="0"> 0% </progress>
        </div>
      </div>
      <div id="upgrade_btn_<%= building.id %>" class="col-md-6 upgrade_btn" onclick="display_cancel_btn('<%= building.id %>', <%= !building.upgrade_start.nil? %>)">
        <%= button_to "Améliorer #{building.name}",
          building_upgrade_path(id: building.id),
          method: :post,
          class: :upgrade_building_button,
          remote: true
        %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    // update progress at start 
    var bar = document.getElementById("build_progress_<%= building.id %>").value;
    console.log(bar);
    if(bar != 0 && bar.value != 0) {
        schedule_<%= building.id %>();
    }
    var interval_<%= building.id %>;
    // call refreshProgress every 3 seconds
    function schedule_<%= building.id %>() {
        interval_<%= building.id %> = setInterval(refreshProgress_<%= building.id %>, 3000);
    }
    // get the percentage
    function refreshProgress_<%= building.id %>() {
        $.ajax({
            url: "<%= building_percent_path(id: building.id) %>"
        })
    }
    // stop the interval
    function cancelInterval_<%= building.id %>() {
        if(bar === 0 || bar === 100) {
            clearInterval(interval_<%= building.id %>);
        }
    }
</script>
<% end %>