<% @buildings.each do |building| %>
<div id="building_<%= building.id %>">
  <div class="building_name">
    <%= building.name %> niveau <%= building.lvl %><br />
  </div>

  <div id="flash_<%= building.id %>" class="flash_messages">
    <%= render partial: "shared/flash_messages" %>
  </div>

  <div id="building_description_<%= building.id %>" class="row">
    <%= image_tag("buildings/".concat(building.image_name).concat(".jpg"), alt: building.name, :id => "img_" + building.image_name, :class => "building_image") %>
    <ul class="ressources_infos">
      <li>
      Nourriture : <%= building.next_level.dig(:food_price).to_i %> -
      Metal : <%= building.next_level.dig(:metal_price).to_i %> -
      Thorium : <%= building.next_level.dig(:thorium_price).to_i %>
      </li>
      <li>
      Production : <%= building.next_level.dig(:production).to_i ||= 0 %> -
      Conso. électricité : <%= building.next_level.dig(:conso_power).to_i ||= 0 %>
      </li>
      <li>
      Temps de construction : <%= building.next_level.dig(:time_to_build).to_i %> secondes
      </li>
    </ul>

  </div>

  <div class="row">
    <div id="cancel_<%= building.id %>" style="display: none">
      <div id="cancel_btn_<%= building.id %>" class="col-md-3 cancel_btn" onclick="display_upgrade_btn('<%= building.id %>')">
      <%= button_to "Annuler #{building.name}",
        building_cancel_path(id: building.id),
        method: :post,
        class: :cancel_building_button,
        remote: true
      %>
      </div>
      <div class="col-md-9">
        <span id="building_finish_at_<%= building.id %>">
          Termine le <%= building.finish_at %>
        </span>
        <div id="progress_bar_<%= building.id %>" class="col-md-6">
          <progress id="build_progress_<%= building.id %>" max="100" value="0"> 0% </progress>
        </div>
      </div>
    </div>

    <div id="upgrade_btn_<%= building.id %>" class="col-md-9 upgrade_btn" onclick="display_cancel_btn('<%= building.id %>', <%= !building.upgrade_start.nil? %>)">
      <%= button_to "Améliorer #{building.name}",
        building_upgrade_path(id: building.id, position: building.position.nil? ? params[:position] : building.position),
        method: :post,
        class: :upgrade_building_button,
        remote: true
      %>
    </div>

  </div>
</div>

<script type="text/javascript">
  // update progress at start
  <% unless building.upgrade_start.nil? %>
    refreshProgress_<%= building.id %>();
    schedule_<%= building.id %>();
  <% else %>
    clearInterval(interval_<%= building.id %>);
  <% end %>
  var interval_<%= building.id %>;
  // call refreshProgress every 3 seconds
  function schedule_<%= building.id %>() {
      interval_<%= building.id %> = setInterval(refreshProgress_<%= building.id %>, 3000);
  }
  // get the percentage
  function refreshProgress_<%= building.id %>() {
      $.ajax({
          url: "<%= building_percent_path(id: building.id) %>"
      })
  }
</script>
<% end %>
