<%= form_for(building) do |f| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :planet_id %>
    <%= f.number_field :planet_id %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :lvl %>
    <%= f.number_field :lvl %>
  </div>

  <div class="field">
    <%= f.label :conso_power %>
    <%= f.text_field :conso_power %>
  </div>

  <div class="field">
    <%= f.label :time_to_build %>
    <%= f.text_field :time_to_build %>
  </div>

  <div class="field">
    <%= f.label :production %>
    <%= f.text_field :production %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
