<h3>Batiments :</h3><br />
<% @planet.buildings.each do |building| %>
    <div>
      <%= building.name %> niveau <%= building.lvl %><br />
      <div>
        Nourriture : <%= building.food_next_level %> -
        Metal : <%= building.metal_next_level %> -
        Thorium : <%= building.thorium_next_level %>
      </div>
      <div>
        Production : <%= building.production_next_level %> -
        Conso. électricité : <%= building.conso_power_next_level %>
      </div>
      <div>
        Temps de construction : <%= building.time_to_build %> secondes
      </div>
      <%= button_to "Améliorer #{building.name}", building_upgrade_path(id: building.id), method: :post %><br />
    </div>
<% end %>

