<h3>Batiments :</h3>

<div id="flash">
  <%= render partial: "shared/flash_messages" %>
</div>

<% @planet.buildings.order(:name).each do |building| %>
  <% @building = building %>
  <div id="building_<%= @building.id %>">
    <%= raw(render('buildings/building_detail')) %>
  </div>
  <div id="progress_bar_<%= @building.id %>">
    <%= render partial: "buildings/progress_bar", locals: {building: @building, :percent => @percent} %>
  </div>
  <%= button_to "Améliorer #{@building.name}",
    building_upgrade_path(id: @building.id),
    method: :post,
    class: :upgrade_building_button,
    remote: true
  %><br />
<% end %>
