<div class="container">
    <%= raw(render('planets/resources')) %>
    <div class="row">
        <div id="aside_resources" class="col-md-2">
            <%= raw(render('planets/production')) %>
        </div>
        <div id="building_list" class="col-md-10">
            <% @buildings.each do |building| %>
                <div id="building_<%= building.id %>">
                <div class="building_name">
                    <%= building.name %> niveau <%= building.lvl %><br />
                </div>

                <div id="flash_<%= building.id %>" class="flash_messages">
                    <%= render partial: "shared/flash_messages" %>
                </div>

                <div id="building_description_<%= building.id %>">
                    <%= image_tag("buildings/".concat(building.image_name).concat(".jpg"), alt: building.name, :id => "img_" + building.image_name, :class => "building_image") %>
                    <ul class="ressources_infos">
                    <li>
                    Nourriture : <%= building.next_level.dig(:food_price).to_i %> -
                    Metal : <%= building.next_level.dig(:metal_price).to_i %> -
                    Thorium : <%= building.next_level.dig(:thorium_price).to_i %>
                    </li>
                    <li>
                    Production : <%= building.next_level.dig(:production).to_i ||= 0 %> -
                    Conso. électricité : <%= building.next_level.dig(:conso_power).to_i ||= 0 %>
                    </li>
                    <li>
                    Temps de construction : <%= building.next_level.dig(:time_to_build).to_i %> secondes
                    </li>
                    </ul>

                </div>

                <div class="row">

                    <div id="upgrade_btn_<%= building.id %>" class="col-md-9 upgrade_btn">
                    <%= button_to building.lvl == 0 ? "Construire #{building.name}" : "Améliorer #{building.name}",
                        building_upgrade_path(id: building.id, position: building.position.nil? ? params[:position] : building.position),
                        method: :post,
                        class: 'upgrade_building_button btn btn-light col-md-6',
                        remote: true
                    %>
                    </div>

                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>