<header>
	<div class="container">
		<div id="banner"><%= link_to image_tag("banner.jpg", 
			alt: "World of Stars banniere", style: "width: 100%;"), root_path %>
		</div>

		<nav>
			<ul class="navbar navbar-inverse nav nav-justified">
				<li class="nav-item"><%= link_to "Accueil", root_path, class: "nav-link" %></li>
				<li class="nav-item"><%= link_to "Forum", 'https://worldofstars.forumactif.com/', class: "nav-link" %></li>
				
				<% if logged_in? %>
					<li class="nav-item"><%= link_to "Ma planète", current_user.planets.first, class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "Classement", users_path, class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "Profil", current_user, class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "Compte", edit_user_path(current_user), class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "Déconnection", logout_path, method: "delete", class: "nav-link" %></li>
				<% else %>
					<li class="nav-item"><%= link_to "Connection", login_path, class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "S'enregistrer", signup_path, class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "Mot de passe oublié", new_password_reset_path, class: "nav-link" %></li>
					<li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
				<% end %>
			</ul>
		</nav>
		
	</div>
</header>