<% provide(:title, " | World of Stars") %>
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv = "Content-type" content = "text/html; charset = utf-8">
		<meta keyword = "World of Stars, World of Stargate">
		<title ><%= yield(:title) %></title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<%= render 'layouts/header' %>

		<div id="notice">
			<%= raw(render('shared/flash_messages')) %>
		</div>

		<%= yield %>

		<%= render 'layouts/footer' %>
	</body>
</html>
